---
import { SITE } from '../config';
import Layout from '../layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import '../styles/global.css';

//Example only delete after testing

import PreviewCard from '../components/PreviewCard.astro';
import garden from '../assets/garden.svg';


const services = [
    {
      title: "Delivery Service",
      imageSrc: "https://tecdn.b-cdn.net/img/new/slides/041.jpg",
      category: "Category",
      location: "City 1, Country",
    },
    {
      title: "Gardering Service",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.jpg",
      category: "Category",
      location: "City 2, Country",
    },
    
    {
      title: "Service 3",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/042.jpg",
      category: "Category",
      location: "City 2, Country",
    },
    {
      title: "Service 4",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.webp",
      category: "Category",
      location: "City 2, Country",
    },
    {
      title: "Service 5",
      imageSrc: "https://tecdn.b-cdn.net/img/new/slides/041.jpg",
      category: "Category",
      location: "City 2, Country",
    },
    {
      title: "Service 6",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.jpg",
      category: "Category",
      location: "City 2, Country",
    },
    {
      title: "Service 7",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/042.jpg",
      category: "Category",
      location: "City 2, Country",
    },
    {
      title: " Other Service",
      imageSrc: "https://tecdn.b-cdn.net/img/new/standard/city/041.webp",
      category: "Category",
      location: "City 2, Country",
    },
  ];
---

<Layout pageTitle={t('pageTitles.home')}>
	<h1 class= text-end>{t('pageTitles.home')}</h1>
	<div>
		{services.map((service) => (
			<div>
				<PreviewCard title={service.title} imageSrc={service.imageSrc} category={service.category} location={service.location}/>
			</div>
		))}
	</div>
</Layout>


<!-- =================**************** ORIGINAL INDEX CODE - NO DELETE *****************=================
---
import { SITE } from '../config';
import Layout from '../layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import '../styles/global.css';
---

<Layout pageTitle={t('pageTitles.home')}>
	<h1>{t('pageTitles.home')}</h1>
</Layout>
-->

