---
import SearchBar from '../components/services/SearchBar.astro';
import PageLayout from '../layouts/ServicesLayout.astro';
import { ServicesView } from '../components/services/ServicesMain';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<astro>
  import { PreviewCard } from '../components/PreviewCard.astro';
  
  const services = [
    {
      title: "Servicio de jardinería 1",
      imageSrc: "/ruta/imagen1.jpg",
      category: "Jardinería",
      location: "Ciudad 1, País",
    },
    {
      title: "Servicio de jardinería 2",
      imageSrc: "/ruta/imagen2.jpg",
      category: "Jardinería",
      location: "Ciudad 2, País",
    },
    // Agrega más objetos de servicios aquí...
  ];
  
  export default function ServicesPage() {
    return (
      <div>
        <h1 class="text-2xl font-bold mb-4">Servicios</h1>
        <div class="grid gap-4 grid-cols-2">
          {services.map((service, index) => (
            <PreviewCard {...service} key={index} />
          ))}
        </div>
      </div>
    );
  }
  </astro>
  

<PageLayout pageTitle="Services">
    <div class="text-center mt-4 mb-8 bg-primaryBackground">
    <div class="text-center mt-4 mb-8">
        <h2 class="text-xl w-full italic">{t('pageTitles.services')}</h2>
        <SearchBar />
        <ServicesView client:only="solid-js" />
    </div>
</PageLayout>